@import '~assets/stylus/variable.styl'
.orders-list
  .success
    font-size: $font-size-medium-1
    margin-bottom: 20px
  .shop-info
    display flex
    align-items: flex-start
    justify-content: flex-start
    .thum
      border: 1px solid $color-grey-3
      width: 120px 
      height 120px
      margin-right: 20px
      img 
        max-width 120px
    .name 
      font-size: $font-size-medium-1
      line-height: 40px
    .count
      color: $color-grey-1
      span 
        margin-right: 15px
        color: $color-red-2